@font-face {
    font-family: 'Avant Garde Book BT';
    font-style: normal;
    font-weight: normal;
    src: url('../../public/fonts/AVGARDD_2.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0px;
    background-color: #0f0f0f;
    font-family: 'Avant Garde Book BT';
}

*{
    transition: all ease-in-out 0.2s;
}



@layer components {
  .flexer {
    @apply flex justify-center items-center;
  }
}